body{
    background-image: url(https://static.wikia.nocookie.net/playstationallstarsfanfictionroyale/images/8/81/The_Trio.png/revision/latest?cb=20130930073003);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(125, 180, 111);
    color: black;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
   
}
#dadespersonals {
    /*background-color: rgb(255, 255, 255);*/
    
}

h2 {
    /*background-color: rgb(108, 110, 112);*/
    font-family: "Archivo Black", sans-serif;

}
ul {
  /* background-color: rgb(238, 247, 255);*/
   font-family: "Plus Jakarta Sans", sans-serif;

}


section {
    width: 500px;
    margin-left: 10px;
    display: inline-block;

}

img {
    display: block;
    margin: auto
}
nav {
    display: inline-block;
}

button{
    background-color: darkgreen;
    color: black;
    border: 0;
    border-radius: 7%;
}